body {
	font-family: helvetica;
	margin: 0;
	padding-top: 0;
}

/* styles for navigation bar */
header {
	background-color: rgba(255,255,255,0.7);
	display: flex;
	align-items: center;
	z-index: 1;
	width: 100%;
	height: 60px;
	position: fixed;
}


#navlist {
	font-size: 1.2rem;
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	list-style-position: inside;
	list-style-type: none;
}

.navitem {
	text-decoration: none;
	text-align: center;
}

.navitem a:link {
	color: #484848;
	text-decoration: none;
}

.navitem a:visited {
	color: #a8453c;
	text-decoration: none;
}

.navitem a:hover {
	color: #F60;
	text-decoration: underline;
}

.navitem a:active {
	color: #6C0;
	text-decoration: none;
}

/* styles for main content */

#main-content {
	position: relative;
	padding-bottom: 60px;
}

#banner {
	background-image: url("../images/oakland.jpg");
	display: flex;
	justify-content: center;
	align-items: center;
	height: 450px;
	color: #FFFFFF;
	background-size: cover;
	background-position: center;
	text-align: center;
}

#banner-text {
	background-color: rgba(0,0,0,0.3);
	padding: 20px;
}

#banner h1 {
	font-size: 4.5rem;
	margin: 0;
	padding-bottom: 15px;
}

#banner span {
	font-size: 2.3rem;
	font-weight: bold;
	color: #fffdaf;
}

#text-container {
	margin-top: 30px;
	margin-bottom: 60px;
	color: #455163;
	font-size: 1.2rem;
	margin-left: 20%;
	margin-right: 20%;
}

.info {
	margin-top: 50px;
	margin-bottom: 60px;
	color: #455163;
	font-size: 1.2rem;
	margin-left: 20%;
	margin-right: 20%;
}

.image-container {
	display; flex;
	justify-content: center;
	margin-top: 50px;
	width: 100%;
	overflow: hidden;
}

.image-container img {
	max-width: 100%;
	height: auto;
	display: block;
}

h5 {
	margin: 5px;
	display: block;
}

#cathy {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	overflow: hidden;
}

#cathy img {
	width: 50%;
}

#wrapper {
	color: #455163;
	font-size: 1.2rem;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 35px 25px;
	width: 500px;
}

#form-desc {
	margin: 15px;
}

.formlabel{
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
	height: 25px;
}

.forminfo {
	vertical-align: middle;
	height: 25px;
}

#submit-button, #reset-button {
	text-align: center;
	vertical-align: middle;
}

#comments {
	margin-top: 15px;
	width: 250px;
	height: 100px;
	margin-bottom: 20px;
}

/* styles for footer */

footer {
	position: relative;
	bottom: 0;
	padding-top: 25px;
	width: 100%;
	height: 70px;
	background-color: rgba(82, 105, 142, 0.5);
	color: white;

}

#footer-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style-position: inside;
	list-style-type: none;
}

.footer-item {
	text-decoration: none;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


#email-link a:link {
	color: #FFFFFF;
	text-decoration: none;
}

#email-link a:visited {
	color: #03C;
	text-decoration: none;
}

#email-link a:hover {
	color: #F60;
	text-decoration: underline;
}

#email-link a:active {
	color: #FFFFFF;
	text-decoration: none;
}










